/* Preliminaries */ 
button {
    margin: 0;
    padding: 0;
    border: outset 3px black;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Actual stuff*/
.container {
    width: 600px;
    height: 400px;
    background-color: lightslategray;
    border: solid 4px black;
    border-radius: 6px;
    padding: 30px; 

    display: flex;
    flex-direction: column;
    gap: 15px;

    margin: auto;
}

.output {
    margin: 0;
    height: 80px;
    line-height: 80px; /*Making this same as height centers the text in accordinance to vertical align */ 
    vertical-align: middle;
    padding: 0 20px;

    background-color: ivory;

    font-size: 50px;
    font-family:monospace;
    text-align: right;
    
    border: inset 4px black;
}

section.middle {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
}



section.numbers {
    width: 75%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

}

.numbers button {
    flex: 0 1 33.333%;
    font-size: 30px;
}



section.operators {
    display: flex;
    flex-direction: column;
    width: 25%; 
}

.operators button {
    flex: 1;
    font-size: 30px;
}



section.misc {
    display: flex;
    flex: 1; 
    
}

.misc button {
    flex: 1; 
}

