/* Preliminaries */ 
button {
    margin: 0;
    padding: 0;
    border: outset 3px black;
    border-radius: 4px;
    box-sizing: border-box;
}



/*Actual stuff*/
.container {
    width: 600px;
    height: 400px;
    background-color: lightslategray;
    border: solid 4px black;
    border-radius: 6px;
    padding: 30px; 

    display: flex;
    flex-direction: column;

    margin: auto;
}

.output-holder {
    margin: 0;
    height: 70px;
    padding: 0 20px;

    background-color: ivory;

    font-size: 40px;
    font-family:monospace;
    text-align: right;
    
    border: inset 4px rgb(201, 201, 189);

    overflow-x: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.archive {
    font-size: 12px;
    height: 13px;
}

section.middle {
    margin-top: 15px;
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
}



section.numbers {
    width: 75%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

}

button.number {
    flex: 0 1 33.333%;
    font-size: 30px;

    background-color:rgb(117, 116, 116);
    color: white;
}
button.number:hover {
    background-color:rgb(105, 104, 104);
}
button.number:active {
    background-color:rgb(88, 87, 87);
}


section.operators {
    display: flex;
    flex-direction: column;
    width: 25%; 
}

button.operator {
    flex: 1;
    font-size: 30px;
}



section.misc {
    display: flex;
    flex: 1; 
    
}

.misc button {
    flex: 1; 
}

.bottom {
    height: 13%;
    display: flex;
}

.bottom button {
    flex: 1;
}



.equate {
    background-color: rgb(238, 174, 13);
    border-color: darkgoldenrod;
}
.equate:hover {
    background-color: rgb(216, 158, 12);
}
.equate:active {
    background-color: rgb(184, 134, 9);
}

